CPU_COMMAND='sensors | grep "Physical id 0:" | cut -c18-19'
GPU_COMMAND='nvidia-smi -q -d TEMPERATURE | awk "/GPU Current Temp/ {print $5}" | cut -c39-40'
CAPACITY_COMMAND='echo disabled'
STATUS_COMMAND='echo disabled'

executables=("nm-applet" "firefox" "spotify" "telegram" "owncloud" "redshift-gtk")
